@media (max-width: 1024px) {

  #home.slider {
    padding-top: 1%;
  }
  #home .slider-img {
    width: 300px;
    height: 170px;
  }

  #home .tabs {
    padding-top: 2%;
  }
  #home .home-cont-title {
    font-weight: 600;
    font-size: 18px;
  }
  #home .home-cont-selector {
    width: 134px;
    margin-left: 224px;
    font-size: 13px;
    height: 38px;
    background: #403D3B;
    border-radius: 4px;
  }
}