#contacts {
  background: url("../../assets/img/Rectangle 104.png") no-repeat center/cover;
  height: 1200px;

  .contacts {
    &-title {
      font-weight: 800;
      font-size: 36px;
    }

    &-ul {
      font-weight: 400;
      font-size: 18px;
    }

    &-li {
      font-weight: 400;
      font-size: 18px;
    }
  }
  .form {
   &-desc {
     font-weight: 400;
     font-size: 14px;
   }
    &-select {
      width: 430px;
      height: 50px;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%);
      border-radius: 5px;
      font-weight: 600;
      font-size: 12px;
      color: #FFFFFF;

    }
    &-text {
      font-weight: 400;
      font-size: 12px;
      color: #828282;
      width: 430px;
      height: 146px;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%);
      border-radius: 5px;
    }
    &-btn {
      width: 430px;
      height: 50px;
      background: #FF7B00;
      border-radius: 5px;
      font-weight: 600;
      font-size: 18px;
    }
  }
  .form2 {
    margin-left: 350px;
  }

}
