//@media (max-width: 1024px) {
//  #header .header {
//    padding-top: 15px;
//  }
//  #header.header {
//  }
//  #header.header-logo {
//    img, video {
//      max-width: 90%;
//      height: auto;
//    }
//  }
//  #header .header2-calendar {
//    color: #E0E6E9;
//    font-size: 15px;
//    font-family: "Barlow", sans-serif;
//  }
//  #header.header2-search {
//    width: 533px;
//    height: 48px;
//    background: rgba(250, 250, 250, 0.2);
//    border-radius: 8px;
//    font-size: 14px;
//    font-family: 'Barlow', sans-serif;
//    color: #ABBBC2;
//
//  }
//  #header .header-nav {
//    margin-top: 5px;
//  }
//  #header .header-nav-item {
//    font-weight: bold;
//    font-size: 11px;
//    margin: 0 13px;
//  }
//  #header .header-cont {
//    padding-left: 300px;
//  }
//}
//

@media (max-width: 1440px) {
  .header .header-burger {
    display: none;
  }

}

@media (max-width: 912px) {
  .header {
    position: fixed;
    width: 100%;
    z-index: 100;
  }

  .header .header-burger {
    display: block;
  }
  .header .header-nav {
    display: none;
  }
  .header .header-global {
    justify-content: center;
  }
  .header .head-logo, .head-basket, .head-burger {
  }
  .header .head-logo {
    order: 1;
    margin: 0 270px;

  }
  .header .head-basket {
    order: 2;
  }
  .header .head-burger {
    order: 0;
  }


  #home .homeGlobal {
    padding-top: 200px;
  }
  .footer .footer-global {
    justify-content: center;
  }
}

@media (max-width: 425px) {

  .header .head-logo {
    margin: 0 110px;
  }
}



@media (max-width: 375px) {
  .header .head-logo {
    margin: 0 90px;
  }
}



@media (max-width: 320px) {

  .header .head-logo {
    margin: 0 70px;
  }
}

