@media (max-width: 1440px) {
  .header .header-burger {
    display: none;
  }

}

@media (max-width: 912px) {
  .header {
    width: 100%;
    z-index: 100;
  }

  .header .header-burger {
    display: block;
  }
  .header .header-nav {
    display: none;
  }
  .header .header-global {
    justify-content: space-between;
  }
  .header .head-logo {
    order: 1;
  }
  .header .head-basket {
    order: 2;
  }
  .header .head-burger {
    order: 0;
  }
  #home .homeGlobal {
    padding-top: 200px;
  }
  #home .home-meals {
    justify-content: center;
  }
  .footer .footer-global {
    justify-content: space-around;
  }
  #basket .basket-basket {
    width: 100%;
  }
 #basket .basket-order {
    width: 100%;
   margin: 50px 0 0 0;
  }
}


@media (max-width: 320px) {
 .header .logo-text {
    font-size: 18px;
  }
}

