@media (max-width: 1440px) {
  .header .header-burger {
    display: none;
  }

}

@media (max-width: 912px) {
  .header {
    width: 100%;
    z-index: 100;
  }

  .header .header-burger {
    display: block;
  }
  .header .header-nav {
    display: none;
  }
  .header .header-global {
    justify-content: space-between;
  }
  .header .head-logo {
    order: 1;
  }
  .header .head-basket {
    order: 2;
  }
  .header .head-burger {
    order: 0;
  }
  #home .homeGlobal {
    padding-top: 200px;
  }
  #home .home-meals {
  }

  #basket .basket-basket {
    width: 100%;
  }
  #basket .basket-order {
    width: 100%;
    margin: 50px 0 0 0;
  }
  .about .about-first {
    flex-wrap: wrap;
    justify-content: center;
  }
  .about .about-first-texts {
    width: 100%;
  }
  .about .about-first-img {
    margin: 0;
  }
  .about .about-second-text {
    margin-left: 0;
  }
  #contacts .form {
    //justify-content: ;
  }
}


@media (max-width: 425px) {
  #home .home-meals-meal {
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    width: 100%;
    margin: 30px 0;
    padding: 10px;
  }
  #home .home-meals-meal-texts {
    align-items: start;
  }
}


@media (max-width: 375px) {
  .header .logo-text {
    font-size: 18px;
  }
  #basket .basket-meal-title {
    margin: 0;
  }
}