.modal {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0);

  &-content {
    padding: 20px;
    width: 383px;
    height: 338px;
    box-shadow: 4px 4px 12px rgba(79, 79, 79, 0.25);
    border-radius: 5px;
    background: #FFFFFF;
  }

&-sign {
  &-title {
    font-weight: 400;
    font-size: 18px;
  }
}
}

.form {
  &-input {
    width: 240px;
    height: 35px;
    border: 0.5px solid #000000;
    font-weight: 400;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    border-radius: 5px;
  }
  &-btn {
    width: 240px;
    height: 35px;
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
    background: #000000;
    border-radius: 5px
  }
  &-forgot {
    font-weight: 500;
    font-size: 14px;
    color: #FF7B00;
  }
}


.modal.active {
  transform: scale(1);
}