#home {
  background: url("../../assets/img/Rectangle 104.png") no-repeat center/cover;

  .slider {
    padding-top: 100px;

    &-img {
      width: 400px;
      height: 230px;
    }
  }

  .home {
    &-cont {
      padding-top: 100px;

      &-title {
        font-weight: 600;
        font-size: 20px;
      }

      &-selector {
        width: 143px;
        margin-left: 450px;
        font-size: 14px;
        height: 48px;
        background: #403D3B;
        border-radius: 5px;
      }
    }
  }

  .tabs {
    padding-top: 80px;
    &-title {
      margin: 0 30px;
      font-weight: 500;
      font-size: 18px;
    }
  }

  .meal {
    width: 250px;
    height: 350px;
    margin: 50px 0;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%);
    border-radius: 10px;

    &-asset {
      margin-top: -80px;
      margin-left: 30px;

      &-img {
        width: 150px;
        height: 150px;
        margin-left: 15px;
        border-radius: 50%;
      }
    }

    &-title {
      padding-bottom: 10px;
      padding-top: 5px;
      font-size: 20px;
      text-align: center;
    }

    &-desc {
      font-weight: 400;
      font-size: 12px;
      padding-bottom: 10px;
      padding-top: 5px;
      text-align: center;
    }

    &-buttons2 {
      padding-top: 15px;
      &-btn3 {

        width: 173px;
        height: 30px;
        background: #FF7B00;
        border-radius: 5px;
      }
    }
  }
}
