#header {
  @import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&family=Gluten:wght@500&display=swap');
  //background: url("../../assets/img/Rectangle 104.png") no-repeat center/cover;
  background: #000;
  height: 100px;

  .header {
    padding-top: 20px;

    &-logo {

    }

    &-nav {
      padding-top: 20px;

      &-item {
        font-weight: bold;
        margin: 0 20px;
        font-size: 16px;
      }
    }

    &-cont {
      padding-left: 500px;
    }

    &-btn {
      margin-left: 300px;
    }

    &-cart {
      width: 30px;
      height: 30px;
      margin-top: 20px;
    }
  }

}