@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@import './styles/media.scss';
@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    scroll-behavior: smooth;
}
body {
    background-color: #f7fafc;
    color: #1a202c;
}

.dark-mode body {
    background-color: #1a202c;
    color: #f7fafc;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #f97316;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.logo-text {
    font-family: 'Yatra One', cursive;    font-weight: bolder;
}


.react-tel-input {
    width: 100%;
    font-size: 16px;
    font-weight: 400;
}